*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#deec1a0c;
}
.container{
    height: 500px;
    width: 900px;
    border: 5px solid black;
    margin: auto; 
    position: relative;
    background: white;
    margin-top: 80px;
}
.screen{
    height: 200px;
    width: 300px;
    border: 15px solid black;
    position: absolute;
    background: lightblue;
    left: 300px;
    top: 100px;
    transition: 1s;
}
.screen:hover{
    background: white;
}
.stand{
    height: 20px;
    width: 40px;
    position: absolute;
    border: medium solid black;
    background: black;
    top: 300px;
    left: 430px;
}
.base{
    height: 30px;
    width: 150px;
    position: absolute;
    border: medium solid black;
    background: black;
    top: 310px;
    left: 305px;
    border-radius: 50%;
    transform: rotateX(45deg);
    transform: translate(70px);
}
.speaker1{
    height: 250px;
    width: 150px;
    position: absolute;
    border: medium solid black;
    background: black;
    top: 90px;
    left:100px;
}
.speaker2{
    height: 250px;
    width: 150px;
    position: absolute;
    border: medium solid black;
    background: black;
    top: 90px;
    left:650px;
}
.circle1{ 
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: medium solid black;
    background: white;
    margin-left: 11px;
    margin-top: 5px;
}
.circle2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 31px;
    margin-top: 31px;
    position: absolute;
    cursor: pointer;
    background: black;
    border: medium solid black;
    animation: jumping 1s 1s ease infinite;
    transition: 2s;
}
.circle2:hover {
    background: rgb(134, 185, 134); 
    } 
 
    @keyframes jumping {
    0% {
        transform: translateY(0px)
    }
    25%{
        transform: translateX(2.5px);
    }
    50% {
        transform: translateY(2px)
    }
    75%{
        transform: translateX(-1px);
    }
    100% {
        transform: translateY(0px)
    } 

}

.ball img{
    top: 130px;
    left: 20px;
    position: absolute;
    animation-name: ball;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes ball{
    from {left: 50px;}
    to {left: 200px;}
}

.player1 img{
    top: 100px;
    left: 220px;
    position: absolute;
}

.player2 img{
    top: 90px;
    left:-1px;
    position: absolute;
}

.stadium{
    top: 50px;
    position: absolute;
}

