*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    border: thin solid black;
    width: 80%;
    margin: 100px auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
}
.children{
    border: thin solid red;
    position: absolute;
}
.child1{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: red;
    border: none;
}
.child2{
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background-color: blue;
    border: none;
}
.child3{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: green;
    border: none;
}
.child4{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: yellow;
    border: none;
}
.child5{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: orange;
    border: none;
}
.child6{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: purple;
    border: none;
}
.child7{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: violet;
    border: none;
}
.list{
    list-style-type: none;
    position: relative;
   
}
.list a{
    text-decoration: none;
    color: #222;
    font-size: 1.2em;
}
/* .services{
    position: relative;
} */
.dropdown{
    border: 2px solid black;
    /* padding: 20px; */
    width: 150px;
    position: absolute;
    left: -30px;
    /* top: 100px; */
    top: 100%;
    text-align: center;
    background-color: aliceblue;
    border: none;
    /* line-height: 4; */
    display: none;
    /* visibility: hidden; */
}

.dropdown a li:hover{
    color: white;
    background-color: crimson;
    /* padding: 10px; */
}
/* .dropdown li a:hover{
    color: white;
} */
.dropdown li{
    list-style-type: none;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.list:hover .dropdown{
    display: block;
   
}