*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


/* ---CSS POSTIONING--- */

.parent{
    border: 2px solid black;
    width: 80%;
    margin: 100px auto;
    height: 80vh;
    position: relative;
}
.children{
    border: 2px solid blue;
    
}
.child1{
    width: 800px;
    height: 700px;
    position: absolute;
    top: 135px;
    left: 550px;
    border: 2px solid red;
}
.child2{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 185px;
    left: 600px;
    border: 2px solid yellow;
}
.child3{
    width: 600px;
    height: 500px;
    position: absolute;
    top: 235px;
    left: 650px;
}
.child4{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 285px;
    left: 700px;
}
.child5{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 335px;
    left: 750px;
}
.child6{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 385px;
    left: 800px;
}
.child7{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 435px;
    left: 850px;
}
.hero{
    border: 3px solid crimson;
    background-image: url('./images/imgi_52_personal-loans_1400x452.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
}
.hero-text{
    border: 2px solid black;
    width: 300px;
    /* height: 300px; */
    padding: 40px;
    background-color: white;
    position: absolute;
    top: 200px;
    left: 400px;
    opacity: 0.8;
    /* filter: opacity(3px); */
    /* filter: blur(4px); */
    border: none;
}
.hero-text h1{
    margin-bottom: 20px;
}
.hero-text p{
    margin-bottom: 20px;
}

.container{
    border: thin solid green;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    height: 40vh;
}

.box{
    border: 2px solid red;
    width: 400px;
    height: 300px;
    position: absolute;
}
.box1{
    left: 350px;
    background-color: aqua;
    /* z-index: 2; */
}
.box2{
    left: 150px;
    background-color: seagreen;
    /* z-index: 1000000; */
}
.box3{
    left: 900px;
    background-color: crimson;
}
.logo{
  width: 50px;
}

header{
    background-color: #fefefe;
    box-shadow: 0px 0px 3px 3px grey;
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px;
}

.list{
    display: flex;
    gap: 2em;
}

.list li{
    color: #222;
    font-size: 1.1em;
}

.buttons{
    display: flex;
    gap: 2em;
}
button{
    padding: 10px 14px;
    background-color: rgb(122, 179, 228);
    border-radius: 5px;
    border: none;
}
button a{
    color: #222;
    font-size: 1.2em;
}

/* ---section-- */

.hero-sect{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid green;
    padding: 10px;
    border: none;
}
.hero-text1{
    padding: 40px;
}
.hero-text1 h1{
    font-size: 4em;
    color: #122231;
}
.hero-text1 p{
    font-size: 1.1em;
    color: #222;
    margin-bottom: 20px;
}
.hero-text1 a{
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}